  <h1 class="text-center">Hello, DocuWare!</h1>

  <div class="card">
    <h3>Technical challenge</h3>
    <p>Please work on the task below and present us the results during the interview</p>
    <p>
      The task shouldn´t take you more than 3 hours. Thank you for your time!
    </p>
    <p>
      Please note: we expect a prototype level (not more)
    </p>

    <ul class="list-decimal">
      <li>Create an ASP.NET CORE application</li>
      <li>It should have a relational database to persist event registrations</li>
      <li>
        There are two kinds of users
        <ul class="list-disc">
          <li>An event creator who has to login</li>
          <li>An event participant, who can register for the event</li>
        </ul>
      </li>
      <li>
        The event creator
        <ul class="list-disc">
          <li>Can create an event</li>
          <li>b. Can see all registrations for an event</li>
          </ul>
      </li>
      <li>
        The event participant
        <ul class="list-disc">
          <li>Can see all events</li>
          <li>Choose one event and fill the registration form for it</li>
          </ul>
      </li>
      <li>
        An event has the following fields
        <ul class="list-disc">
          <li>Name</li>
          <li>Description</li>
          <li>Location</li>
          <li>Start time</li>
          <li>End time</li>
        </ul>
      </li>
      <li>
        A registration has the following fields
        <ul class="list-disc">
          <li>Name</li>
          <li>Phone number</li>
          <li>Email address</li>
        </ul>
      </li>
    </ul>
  </div>
